
  @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;

}

html,body{
    width: 100%;
    height: 100%;

}
body{
    background-color: black;
}
#minicircle{
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}
.bounding{
    width: fit-content;
    overflow: hidden;
    /* background-color: aqua; */
}
.bounding .boundingElem{
    transform: translateY(100%);
}
#main{
    width: 100%;
    /* background-color: black; */
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    position: relative;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    top:0;
    color: #fff;
    /* position: fixed; */
}
#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
}
#heading{
    margin-top: 90px;
}

#heading h1{
font-size: 8vw;
text-transform: uppercase;
opacity: 0.8;
line-height: 1;
margin-left: 30px;
}

#heading  #second{
margin-left: 190px;
}
.bolcktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    /* background-color:red; */
    width: fit-content;
    /* background-color: aqua; */

}
.bolcktext h5{
    text-align: right !important;
    text-transform: uppercase;
    font-size: 1vw;
    /* background-color: rgb(125, 159, 11); */
}
#heading2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
    
}
#heading2 h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1vw;
  
    /* margin-bottom: 20vw; */
}
#heroFooter{
    width: 100%;
    bottom: 3%;
    position: absolute;
    margin-top: 20vw;
    padding: 0vw 2vw;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#heroFooter a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
#heroFooter #iconset{
    display: flex;
}
#heroFooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}
#pageSecond{
    color: #fff;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
    height: 100vh;
}
.elem{
    position: relative;
    width: 100%;
    padding-top: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.elem h1{
   text-transform: uppercase;
   font-size: 8vw;
    opacity: 0.8;
    padding: 2vw;
}

.elemlastborder{
    border-bottom: 1px solid #888;
}
.elem img{
    position: absolute; 
    z-index: 999;
    object-fit: cover;
    object-position:center ;
    height: 140%;
    opacity: 0;
    /* display: none;  */
   
}
#about{
  
    width: 100%;
    background-color: black;
    color: #fff;
    gap: 70px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 10vw 10vw;
    padding-left: 40vw;
    margin-top: 20vw;

}
#imgabout img{
    width: 200px;
   /*  width: 17vw;
    height: 17vw;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover; */
}
#textabout{
    width:30rem ;
}
#textabout h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;

}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
#subscribe{
    width: 100%;
    color: #fff;
    background-color:black;
    padding: 20px 30px;
    padding-bottom: 10vw;
}
#subscribe h5{
  text-transform: uppercase;
  opacity: 0.6;
}
#subscribe h3{
text-transform: uppercase;
font-size: 14px;
margin-top: 10px;
}
#foter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    color: #fff;
    background-color: black;
}
#footer-left{
display: flex;
gap: 30px;
}
#footer-right{
    display: flex;
    gap: 30px;
}
#footer-right a{
    text-decoration: none;
    color: #fff;
    margin-left: 12px;
    font-size: 14px;
}
@media (max-width:1000px) {
    #about{
        display: flex;
        flex-direction: column;
    }
    #heading  #second{
        margin-left: 12vw;
    }
}
@media (max-width:600px) {
    #foter{
        flex-wrap: wrap;
        
    }
    #footer-right{
        flex-wrap: wrap;
        gap: 20px;
    }
    #textabout{
     width: 300px;  
     left: 0; 
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     margin-top: -100px;
        
    }
   #about #imgabout {
        padding-bottom: 120px;
      
        display: flex;
        justify-content: center;
        align-items: start;
        margin-left: -30vw;
    }
    #textabout a{
        width: 100px;
    }
    #textabout h5{
        display: flex;
        justify-content: flex-start;
        font-size: 10px;
        margin-left: -23vw;
    }
    #textabout p{
        margin-left: -23vw;
    }
    #heading h1{
        font-size: 9vw;
        
    }
    #heading  #second{
        margin-left: 12vw;
    }
    .elem h1{
        font-size: 10vw;
    }
    #heroFooter{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #heroFooter h5{
        font-size: 9vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    #heroFooter #iconset{
        display: none;
    }
    #heading h1{
        font-size: 12vw;
    }
    #heading2 h5{
        font-size: 1.3vw;
        width: 100%;

    }
    #heading h5{
        font-size: 3vw;
    }
    #nav a{
font-size: 4vw;
    }
}
@media (max-width:375px) {
    #textabout p{
        font-size: 6vw;
        width: 200px;
        margin-left: 9vw;
    }
    #textabout h5{
        margin-left: 9vw;
    }
    #textabout a{
        margin-left: 10vw;
    }
}
@media (max-width:340px) {
    #footer-right{
        flex-wrap: wrap;
        gap: 10px;
    }
    #pageSecond h1{
        font-size: 12vw;
        overflow-wrap: break-word;
    }
    
}